/* NAVBAR */
.navbar {
    background-color: #000;
    color: white;
    padding: 15px 120px;
    display: flex;
    align-items: center;
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


/* esquerda */
.nav-esquerda {
    flex: 1; /* Ocupa o espaço disponível */
}

/* centro */
.nav-logo a {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

/* direita */
.nav-direita {
    flex: 1; /* Ocupa o espaço restante */
    display: flex;
    justify-content: end;
}

.nav-direita img{
    height: 50px;
}

/* lista */
.nav-list {
    display: flex;
    gap: 100px;
    list-style: none;
}

/* logo */
.nav-logo img {
    height: 50px;
}

.navbar a {
    position: relative;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

/* traço escondido */
.linha::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: #E0712B;
    transition: width 0.5s ease;
}

/* animação ao passar o mouse */
.navbar a:hover::after {
    width: 100%;
}

.linha:hover {
    color: #E0712B;
    transition: 0.5s;
}

.hero{
    height: 740px;
    width: 100%;
    display: flex;   /* centraliza conteúdo */
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 0px; /* Espaço do menu fixo */
    background-image: url(/frontend/assets/img/IMGhero.png);
    background-repeat: none;
    background-size: cover;
}


/* SOBRE NOS */
 .sobre-nos{
    height: 400px;
    width: 100%;
    background-color: #000;
    border-radius: 0% 0% 15px 15px;
    display: flex;
 }

 .sobre-text{
    display: flex;
    flex-direction: column;
    text-align:left;
    height: 100%;
    width: 50%;
    padding: 55px 80px;
 }

 .sobre-text h2{
    color: #fff;
    font-size: 60px;
    padding-bottom: 35px;
 }

 .sobre-text p{
    color: #fff;
    font-weight: 100;
    font-size: 18px;
    padding-bottom: 35px;
 }

 .sobre-text a{
    text-decoration: none;
    color: white;
    font-weight: 600;
 }

 .saiba-mais{
    width: 182px;
    height: 40px;
    border-radius: 10px;
    background-color: #E0712B;
    border: none;

    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
 }

 .saiba-mais:hover{
    background-color: #ffffff;
    transform: scale(1.05);
    transition: 0.7s;
 }

 .sobre-text a:hover{
    color: #E0712B;
 }

 .adicional-text{
    display: flex;
    flex-direction: column;
    text-align: right;
    height: 100%;
    width: 50%;
    padding: 55px 150px;
 }
 .adicional-text h2{
    color: #fff;
    font-size: 35px;
    padding: 0;
 }

 #maior{
    font-size: 80px;
 }

 .adicional-text p{
    color: white;
    font-size: 18px;
    font-weight: 100;
    padding-bottom: 40px;

 }

 .adicional-text2{
    display: flex;
    flex-direction: column;
    text-align: left;
 }
 .adicional-text2 h2{
    color: white;
    font-size: 35px;
 }

footer{
    background-color: #555;
    width: 100%;
    height: 150px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

