/* NAVBAR */
header{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 99;
}
.navbar {
    background-color: #000;
    color: white;
    padding: 15px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


/* esquerda */
.nav-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

/* centro */
.nav-logo{
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* direita */
.nav-direita {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.nav-direita img{
    height: 40px;
}

#favoritos img{
   height: 35px;
}

#favoritos img:hover{
   transform: scale(1.2);
   transition: transform 0.5s;
}

#reservas img:hover{
   transform: scale(1.2);
   transition: transform 0.5s;
}
/* lista */
.nav-list {
    display: flex;
    gap: 70px;
    list-style: none;
    font-weight: 600;
}

/* logo */
.nav-logo img {
    height: 40px;
}

.navbar a {
    position: relative;
    text-decoration: none;
}
.linha-id {
    color: #E0712B;
    font-weight: 700;
}

.linha-id::before{
   color: #E0712B;
   content: "";
   position: absolute;
   width: 0%;
   height: 2px;
   left: 0;
   bottom: -5px;
   background-color: #E0712B;
   width: 100%;
}

.linha{
   color: white;
}

/* traço escondido */
.linha::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: #E0712B;
    transition: width 0.5s ease;
}

/* animação ao passar o mouse */
.navbar a:hover::after {
    width: 100%;
}

.linha:hover {
    color: #E0712B;
    transition: 0.5s;
}
.hero{ 
  height: 600px; /* ocupa a tela toda */
  background-image: url("../../assets/img/IMGhero.png");
  background-size: cover;       /* cobre toda a área */
  background-position: center;  /* centraliza */
  background-repeat: no-repeat;

  display: flex;
  align-items: center;   /* centraliza vertical */
  justify-content: center; /* texto ao centro */
  padding: 0 80px;
  position: relative;
}

.hero-content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  position: relative;
  z-index: 1;
}

#laranja {
   display: flex;
  font-size: 95px;
  font-weight: 700;
  color: #E0712B;
}

.hero-content h1{
   display: flex;
   gap: 30px;
   font-size: 90px;
   font-weight: 700;
   color: white;
}

.hero-content p {
   display: flex;
  font-size: 30px;
  font-weight: 500;
  color: white;
}



.hero::before{
   content: "";
   position: absolute;
   inset: 0;
   background-color: rgba(0, 0, 0, 0.7);
}


/* SOBRE NOS */
 .sobre-nos{
   height: 350px;
    padding: 0px 40px;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
 }

 .sobre-text{
    display: flex;
    flex-direction: column;
    text-align:left;
    width: 50%;
    padding: 30px 40px;
 }

 .sobre-text h2{
    color: #fff;
    font-size: 42px;
    padding-bottom: 35px;
 }

 .sobre-text p{
    color: #fff;
    font-size: 18px;
    padding-bottom: 35px;
 }

 .sobre-text a{
    text-decoration: none;
    color: white;
 }

 /* Botão saiba mais */

 .saiba-mais{
   display: flex;
   justify-content:baseline;
   align-items:center;
   width: 182px;
    height: 40px;
    border-radius: 10px;
    background-color: #E0712B;
    border: none;
    font-weight: 700;
 }


 .saiba-mais{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza verticalmente */
    transition: background-color 0.4s ease, transform 0.10s ease;
 }

 .saiba-mais:hover{
    background-color: #ffffff;
    transform: scale(1.05);
 }

 .sobre-text a:hover{
    color: #E0712B;
    transform: 0.4s;
    font-weight: 700;
 }

 /* Texto informativo ao lado de sobre nos */

 .adicional-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 50%;
       padding: 30px 40px;
 }
 .adicional-text h2{
    color: #fff;
    font-size: 28px;
    padding: 0;
 }

 #maior{
    font-size: 80px;
 }

 .adicional-text p{
    color: white;
    font-size: 18px;
    font-weight: 100;
    padding-bottom: 40px;

 }

 .adicional-text2{
    display: flex;
    flex-direction: column;
    text-align: center;
 }
 .adicional-text2 h2{
    color: white;
    font-size: 35px;
 }

 .adicional-text2 p{
    color: white;
    font-weight: 100;
    font-size: 18px;
    padding-bottom: 40px;
 }

 /* CARDS */

 .text-center{
    color: white;
    font-size: 42px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px 40px;
}

.cards{
   min-height: 50vh;
    padding: 0px 40px;
    width: 100%;
   flex-wrap: wrap;
   display: flex;
   justify-content: center;
   align-items: center;

   gap: 55px;
   padding-bottom: 30px;
 }

 .cards h2{
   color: #ffffff;
   display: flex;
   justify-content: center;
   text-align: center;

 }

.card {
  position: relative;
  width: 350px;
  height: 450px;
  border-radius: 20px;
  overflow: hidden;
  transform: scale(1);
  transition: all 0.5s ease; /* Efeito de transição */
}

.card:hover{
   transform: scale(1.06);
   transition: transform 0.20s ease;
}


/* imagem ocupando tudo dentro do card*/
.card img {
  width: 100%;
  height: 100%;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.7); /*Efeito de escurecer a foto*/
  object-fit: cover; /* ESSENCIAL */
}

/* conteúdo por cima - tutilos e link */
.card-conteiner{
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.card-conteiner h3 {
  font-size: 20px;
  font-weight: bold;
}

.card-conteiner a {
  color:#E0712B;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}
.card-conteiner a:hover {
  color:#ffffff;
  text-decoration: none;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3);
}

.button-card{
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   height: 35px;
   width: 85px;
   margin-top: 10px;
   background-color: #fff;
   transition: background-color 0.3s ease, transform 0.09s ease;
}

.button-card:hover{
   background-color: #E0712B;
}

.conteiner-filtros {
  display: flex;
  gap: 20px;
  padding: 20px;
  background: #111;
  color: white;
}

/* SIDEBAR */
.filtros {
   height: 800px;
  width: 100%;
   background-color: #111;
  padding: 20px;
  border-radius: 10px;
}

/* GRID */
.produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  flex: 1;
}

/* CARD */
.card {
  background: #fff;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

footer{
    background-color: #555;
    width: 100%;
    height: 150px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
}